.navBar {
    width: 100%;
    margin: auto;
    background-color: var(--navBarBackground);
    padding: 3vh 0vh 3vh 0vh;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: var(--navBarText);
    text-decoration: none;
    font-size: 2.2vh;
    text-transform: uppercase;
}

a:hover{
    font-weight: 800;
    color: var(--navBarTextHover);
}

.active {
    color: var(--navBarTextHover);
}

button {
  background-color: var(--navBarBackground);
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid var(--navBarTextHover);
  color: var(--navBarTextHover);
  padding: 0.5vw 2vw;
}

button:hover {
  background-color: var(--navBarText);
  color:var(--navBarTextHover);
}
